<section class="introduction-nav">
  <%= link_to "학생생활", studentActivity_path%>
  <%= link_to "빌리지", village_path%>
   <%= link_to "동아리", club_path%>
  <%= link_to "총동창회", alumni_path%>
  <a href="/introductions/attendance">회원찾기</a>
</section>

