<!-- Header -->
<%= render "/introductions/nav"%>
<section class="studentact alumni">
  <h1>총동창회 </h1>
  <h2>약학대학의 역사와 전통</h2>
  <div class="student-act">
    <a onclick="Move1()">소개</a>
    <a onclick="Move(1)">회원 찾기</a>
    <a onclick="Move(2)">장학금 조성</a>
  </div>
  <img src="/assets/hat.png">
</section>

<script>
     function Move(seq){
        var offset = $(".village"+seq).offset();
        $('html, body').animate({scrollTop : offset.top}, 600);
    }
        function Move1(){
        var offset = $(".council.alumni").offset();
        $('html, body').animate({scrollTop : offset.top}, 600);
    }
</script>

<section class="council alumni">
  <img src="/assets/introductions/together.jpg" class="council-bg">
  <div class="council-content">
    <div></div>
    <h1>2015년 첫 졸업생을 배출과 함께 설립된  경북대학교 약학대학 총동창회는
     매년 경약인의 밤, 신입동문 환영행사를 개최하여 동문들간의 결속을 다지고
      있습니다. 우리 동문들의 앞으로의 사회 각 분야에서의 활약을 기대해봅니다.</h1>
      <a href="/helps/contactus">총동창회 문의하기 →</a>
  </div>
</section>

<section class="village">
  <a href="/introductions/attendance" class="village1"><img src="/assets/introductions/find.png"></a>
  <a href="/helps/contactUs" class="village2"><img src="/assets/introductions/scholarship.png"></a>
</section>
