<!-- Header -->
<header class="alumni">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="intro-text">
      <div class="intro-heading text-uppercase">
      </div>
      <div class="intro-lead-in">
      </div>
      <!--<a class="btn btn-info btn-xl text-uppercase" href="https://goo.gl/forms/OF0eOYFT295BvdOq1">신입생 등록하기</a>-->
      <%#= link_to "신입생 등록하기", mainEvent_path, class: "btn btn-info btn-xl text-uppercase" %>
    </div>
  </div>
</header>
<%# TODO: 경약인의 밤 사진? %>
<!-- alumniContact -->
<section class="alumniContact d-flex align-items-center justify-content-center">
  <div class="container d-flex align-items-center justify-content-center text-white">
    <div class="intro-text">
      <div class="intro-heading">
        
      </div>
      <div class="intro-lead-in">
        <p>매년 경약인의 밤, 신입동문 환영행사를 개최하여</p>
        <p>동문들간의 결속을 다지고 있습니다.</p>
      </div>
      <a class="btn btn-info btn-xl text-uppercase" href="/helps/contactUs">총동창회 문의하기</a>
    </div>
  </div>
</section>

<!-- scholarship -->
<section class="scholarship d-flex align-items-center justify-content-center">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="intro-text">
      <div class="intro-heading">
        <img src="../cash.png" height="128px">
      </div>
      <div class="intro-lead-in">
        <p>매년 각 동기회에서  장학회 기금을 조성하여</p>
        <p>학부생들에게 매년 장학금을 지급하고 있습니다</p>
      </div>
      <!--<a class="btn btn-info btn-xl text-uppercase" href="/introductions/studentActivity">학생생활</a>-->
    </div>
  </div>
</section>

<!-- attendance -->
<section class="attendance d-flex align-items-center justify-content-center">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="intro-text">
      <div class="intro-heading text-uppercase">
        <img src="../magnifier.png" height="128px">
      </div>
      <div class="intro-lead-in">
        <p></p>
      </div>
      <%#= TODO: 회원소개 링크 연결 %>
      <a class="btn btn-info btn-xl text-uppercase" href="/introductions/attendance">회원소개</a>
    </div>
  </div>
</section>
