<!-- 학생회 -->
<section class="bg-light" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">회원소개</h2>
        <h3 class="section-subheading text-muted">공사중<br/><br/>빠른 시일내 추가하겠습니다</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto" src="/councils/handsomewayne1.jpeg" alt="wayne1">
          <h4>공사중</h4>
          <p class="text-muted">공사중</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="/councils/handsomewayne2.jpeg" alt="wayne2">
          <h4>원이 좋은가</h4>
          <p class="text-muted">사각형이 좋은가</p>
          <!--<ul class="list-inline social-buttons">-->
          <!--  <li class="list-inline-item">-->
          <!--    <a href="#">-->
          <!--      <i class="fa fa-twitter"></i>-->
          <!--    </a>-->
          <!--  </li>-->
          <!--  <li class="list-inline-item">-->
          <!--    <a href="#">-->
          <!--      <i class="fa fa-facebook"></i>-->
          <!--    </a>-->
          <!--  </li>-->
          <!--  <li class="list-inline-item">-->
          <!--    <a href="#">-->
          <!--      <i class="fa fa-linkedin"></i>-->
          <!--    </a>-->
          <!--  </li>-->
          <!--</ul>-->
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto" src="/councils/funnykangmin.jpeg" alt="kangmin">
          <h4>그것이</h4>
          <p class="text-muted">문제로다</p>
          <!--<ul class="list-inline social-buttons">-->
          <!--  <li class="list-inline-item">-->
          <!--    <a href="#">-->
          <!--      <i class="fa fa-twitter"></i>-->
          <!--    </a>-->
          <!--  </li>-->
          <!--  <li class="list-inline-item">-->
          <!--    <a href="#">-->
          <!--      <i class="fa fa-facebook"></i>-->
          <!--    </a>-->
          <!--  </li>-->
          <!--  <li class="list-inline-item">-->
          <!--    <a href="#">-->
          <!--      <i class="fa fa-linkedin"></i>-->
          <!--    </a>-->
          <!--  </li>-->
          <!--</ul>-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">어서어서<br/>배치 하겠습니다</p>
      </div>
    </div>
  </div>
</section>