<!-- 학생회 -->
<%# TODO: 09학번이 1기고 13학번이 5기 순으로 쓰자 13학번이 6학년 %>
<section class="bg-light" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">회원 소개</h2>
        <h3 class="section-subheading text-muted">
          학번별 단체사진입니다. <br>
          학번을 눌러 개인 프로필로 이동합니다.
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="team-member">
          <img src="/assets/introductions/number16_2.gif" alt="16학번 단체사진2" class="img-thumbnail img-fluid w-100 h-100">
          <h4> <%= link_to "13학번?", fifthGrade13_path, class: "" %></h4>
          <p class="text-muted">
            단체 사진이 없어 <br> 
            16학번으로 대체!
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="team-member">
          <img src="/assets/introductions/number14.gif" alt="14학번 단체사진" class="img-thumbnail img-fluid w-100 h-100">
          <h4><%= link_to "14학번? 4학년?", fourthGrade14_path, class: "" %></h4>
          <p class="text-muted">햄보캅니다</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="team-member">
          <img src="/assets/introductions/number15.gif" alt="15학번 단체사진" class="img-thumbnail img-fluid w-100 h-100">
          <h4> <%= link_to "15학번? 3학년?", thirdGrade15_path,class: "" %></h4>
          <p class="text-muted">헷갈린다</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="team-member">
          <img src="/assets/introductions/number16_1.gif" alt="16학번 단체사진1" class="img-thumbnail img-fluid w-100 h-100">
          <h4> <%= link_to "16학번? 2학년?",secondGrade16_path, class: "" %> </h4>
          <p class="text-muted">2학년입니다</p>
        </div>
      </div>
    </div>
    <%# <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">
          즐거운 학번 모임!
        </p>
      </div>
    </div> %>
  </div>
</section>