<!--Modal-->
<section class="bg-light mt-3" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">동아리</h2>
        <h3 class="section-subheading text-muted mb-2">
          약대 학생의, 학생에 의한, 학생을 위한 소모임
        </h3>
        <h3 class="section-subheading text-muted mb-2">
          3월 초에 가입 가능합니다
        </h3>
        <h3 class="section-subheading text-muted">
          각 동아리 회장에게 가입 문의하세요!
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="/clubs/loyaljelly1.jpg" alt="loyaljelly">
        </a>
        <div class="portfolio-caption">
          <h4>로열젤리</h4>
          <p class="text-muted">Carpe diem</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="/clubs/ecstacy1.jpg" alt="엑스터시">
        </a>
        <div class="portfolio-caption">
          <h4>엑스터시</h4>
          <p class="text-muted">
            Feel Runner’s High<br/> Feel Ecstacy!
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="/clubs/DIP1.jpg" alt="DIP">
        </a>
        <div class="portfolio-caption">
          <h4>DIP</h4>
          <p class="text-muted">
            Dunk In Pharm<br/>
            전설은 시작됐다.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="/clubs/freshmedicine1.jpg" alt="freshmedicine">
        </a>
        <div class="portfolio-caption">
          <h4>생약</h4>
          <p class="text-muted">YOLO SULO</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="/clubs/knupdog1.jpg" alt="freshmedicine">
        </a>
        <div class="portfolio-caption">
          <h4>크눕독</h4>
          <p class="text-muted">KNUP Dance Of God</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="/clubs/service1.jpg" alt="farming">
        </a>
        <div class="portfolio-caption">
          <h4>팜앗이</h4>
          <p class="text-muted">
            순간이 영원처럼 기억되길 바라며
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Portfolio Modals -->

<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">로열젤리</h2>
              <p class="item-intro text-muted">Carpe diem</p>
              <img class="img-fluid d-block mx-auto mb-3" src="/clubs/loyaljelly2.jpg" alt="">
              <img class="img-fluid d-block mx-auto" src="/clubs/loyaljelly3.jpg" alt="">
              <p>동아리 소개 내용</p>
              <ul class="list-inline">
                <li>가입방법</li>
                <li>운영</li>
                <li></li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                나가기</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">엑스터시</h2>
              <p class="item-intro text-muted">Feel Runner’s High<br/> Feel Ecstacy!</p>
              <img class="img-fluid d-block mx-auto mb-3" src="/clubs/ecstacy2.jpg" alt="">
              <img class="img-fluid d-block mx-auto" src="/clubs/ecstacy3.jpg" alt="">
              <p>동아리 소개 내용</p>
              <ul class="list-inline">
                <li>가입방법</li>
                <li>운영</li>
                <li></li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                나가기</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">DIP</h2>
              <p class="item-intro text-muted">
                Dunk In Pharm<br/>
                전설은 시작됐다.
              </p>
              <img class="img-fluid d-block mx-auto mb-3" src="/clubs/DIP2.jpg" alt="">
              <img class="img-fluid d-block mx-auto" src="/clubs/DIP3.jpg" alt="">
              <p>동아리 소개 내용</p>
              <ul class="list-inline">
                <li>가입방법</li>
                <li>운영</li>
                <li></li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                나가기</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">생약</h2>
              <p class="item-intro text-muted">YOLO SULO</p>
              <img class="img-fluid d-block mx-auto mb-3" src="/clubs/freshmedicine2.jpg" alt="">
              <img class="img-fluid d-block mx-auto" src="/clubs/freshmedicine3.jpg" alt="">
              <p>동아리 소개 내용</p>
              <ul class="list-inline">
                <li>가입방법</li>
                <li>운영</li>
                <li></li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                나가기</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">크눕독</h2>
              <p class="item-intro text-muted">KNUP Dance Of God</p>
              <img class="img-fluid d-block mx-auto mb-3" src="/clubs/knupdog2.jpg" alt="">
              <img class="img-fluid d-block mx-auto" src="/clubs/knupdog3.jpg" alt="">
              <p>동아리 소개 내용</p>
              <ul class="list-inline">
                <li>가입방법</li>
                <li>운영</li>
                <li></li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                나가기</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">팜앗이</h2>
              <p class="item-intro text-muted">순간이 영원처럼 기억되길 바라며</p>
              <img class="img-fluid d-block mx-auto mb-3" src="/clubs/service2.jpg" alt="">
              <img class="img-fluid d-block mx-auto" src="/clubs/service3.jpg" alt="">
              <p>동아리 소개 내용</p>
              <ul class="list-inline">
                <li>가입방법</li>
                <li>운영</li>
                <li></li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                나가기</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal end-->
