
<h3 class="text-center " style="margin-top: 30px;margin-bottom:20px;">5기 - 13학번</h3>

<div class="d-flex justify-content-around align-items-around grade">
    <% @fifthGrade13.each do |student| %>
        <div class="grade-picture">
            <%= image_tag "/assets/fifthGrade13/#{student}" ,class: ""%>
            <%= content_tag(:p, "#{student.split('.').first}", class: ["text-muted", "text-center"])%>  
        </div>
    <% end %>
</div>