<!-- studentActivity -->
<section class="studentActivity d-flex align-items-center">
  <div class="container d-flex flex-column align-items-between justify-content-center">
    <div class="intro-text align-items-start">
      <div class="intro-heading">
        학생생활
      </div>
    </div>
    <div class="intro-text justify-content-end">
      <div class="intro-lead-in justify-content-end">
        <p> </p>
      </div>
      <a class="btn btn-info btn-xl text-uppercase" href="/introductions/village">빌리지</a>
      <a class="btn btn-info btn-xl text-uppercase" href="/cards">동번제</a>
      <a class="btn btn-info btn-xl text-uppercase" href="/introductions/club">동아리</a>
    </div>
  </div>
</section>


<!-- About -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">연간 행사</h2>
        <h3 class="section-subheading text-muted">2월부터 11월까지</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image d-flex justify-content-center">
              <img class="rounded-circle img-fluid" src="/studentActivity/feb.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2월</h4>
                <h4 class="subheading">오티 및 새터</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted"></p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image d-flex justify-content-center">
              <img class="rounded-circle img-fluid" src="/studentActivity/march.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>3월</h4>
                <h4 class="subheading">전체 엠티</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted"></p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image d-flex justify-content-center">
              <img class="rounded-circle img-fluid" src="/studentActivity/april.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>4월</h4>
                <h4 class="subheading">블랙데이</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted"><br/></p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image d-flex justify-content-center">
              <img class="rounded-circle img-fluid" src="/studentActivity/may.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>5월</h4>
                <h4 class="subheading">대동제</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted"><br/></p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image d-flex justify-content-center">
              <img class="rounded-circle img-fluid" src="/studentActivity/nov.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>9월</h4>
                <h4 class="subheading">청약체전</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted"><br/></p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image d-flex justify-content-center">
              <img class="rounded-circle img-fluid" src="/studentActivity/oct.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>10월</h4>
                <h4 class="subheading">약담제</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted"><br/></p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image d-flex justify-content-center">
              <img class="rounded-circle img-fluid" src="/studentActivity/sep.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>11월</h4>
                <h4 class="subheading">경약인의 밤</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted"><br/></p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>내년을
                <br>기대해
                <br>볼까?</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- 학생회 -->
<!-- council -->
<section class="council d-flex align-items-center justify-content-center">
  <div class="container d-flex align-items-center justify-content-center text-dark">
    <div class="intro-text">
      <div class="intro-heading mb-5">
        <img src="/councils/councils.jpg" height="200px" width="250px"/>
      </div>
      <div class="intro-lead-in">
        <p>약학대학 8대 학생회 8Let’s는</p> 
        <p>여러분들과 함께 아름다운 약대생활을 그려나가겠습니다</p>
      </div>
      <!--<a class="btn btn-info btn-xl text-uppercase" href="/helps/contactUs">총동창회 문의하기</a>-->
    </div>
  </div>
</section>

<!--<section class="bg-light" id="team">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-12 text-center">-->
<!--        <h2 class="section-heading text-uppercase">학생회</h2>-->
<!--        <h3 class="section-subheading text-muted">학생회 간부 3분 넣도록 하죠</h3>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-sm-4">-->
<!--        <div class="team-member">-->
<!--          <img class="mx-auto rounded-circle" src="/councils/handsomewayne1.jpeg" alt="wayne1">-->
<!--          <h4>웅식이형</h4>-->
<!--          <p class="text-muted">존잘 간지남</p>-->
<!--          <ul class="list-inline social-buttons">-->
<!--            <li class="list-inline-item">-->
<!--              <a href="#">-->
<!--                <i class="fa fa-twitter"></i>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="list-inline-item">-->
<!--              <a href="#">-->
<!--                <i class="fa fa-facebook"></i>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="list-inline-item">-->
<!--              <a href="#">-->
<!--                <i class="fa fa-linkedin"></i>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-sm-4">-->
<!--        <div class="team-member">-->
<!--          <img class="mx-auto rounded-circle" src="/councils/handsomewayne2.jpeg" alt="wayne2">-->
<!--          <h4>멋있다</h4>-->
<!--          <p class="text-muted">잘생겼따</p>-->
<!--          <ul class="list-inline social-buttons">-->
<!--            <li class="list-inline-item">-->
<!--              <a href="#">-->
<!--                <i class="fa fa-twitter"></i>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="list-inline-item">-->
<!--              <a href="#">-->
<!--                <i class="fa fa-facebook"></i>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="list-inline-item">-->
<!--              <a href="#">-->
<!--                <i class="fa fa-linkedin"></i>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-sm-4">-->
<!--        <div class="team-member">-->
<!--          <img class="mx-auto rounded-circle" src="/councils/funnykangmin.jpeg" alt="kangmin">-->
<!--          <h4>강민이는</h4>-->
<!--          <p class="text-muted">기엽지</p>-->
<!--          <ul class="list-inline social-buttons">-->
<!--            <li class="list-inline-item">-->
<!--              <a href="#">-->
<!--                <i class="fa fa-twitter"></i>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="list-inline-item">-->
<!--              <a href="#">-->
<!--                <i class="fa fa-facebook"></i>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="list-inline-item">-->
<!--              <a href="#">-->
<!--                <i class="fa fa-linkedin"></i>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-lg-8 mx-auto text-center">-->
<!--        <p class="large text-muted">깨지는걸 방지하기 위해<br/>간부 사진은 250 * 250 jpg로 받겠습니다</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!-- village -->
<section class="village d-flex align-items-center justify-content-center">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="intro-text">
      <div class="intro-lead-in">
        <p>궁금하신가요?</p>
      </div>
      <div class="intro-heading text-uppercase">
        빌리지
      </div>
      <a class="btn btn-info btn-xl text-uppercase" href="/introductions/village">바로가기</a>
    </div>
  </div>
</section>

<!-- village -->
<section class="community d-flex align-items-center justify-content-center">
  <div class="container d-flex align-items-center justify-content-center text-white">
    <div class="intro-text">
      <div class="intro-lead-in">
        <p>궁금하신가요?</p>
      </div>
      <div class="intro-heading text-uppercase">
        동번제
      </div>
      <a class="btn btn-info btn-xl text-uppercase" href="/cards">바로가기</a>
    </div>
  </div>
</section>
<!--Carousel-->
<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner h-100">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/community/community1.jpg" alt="First slide" data-holder-rendered="true">
        <div class="carousel-caption d-block">
          <h2></h2>
          <h4></h4>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/community/community2.jpg" alt="Second slide">
        <div class="carousel-caption d-block">
          <h2></h2>
          <h4></h4>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/community/community3.jpg" alt="Third slide">
        <div class="carousel-caption d--block">
          <h2></h2>
          <h4></h4>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<!--Carousel end-->