<%= render "/introductions/nav"%>
<section class="studentact">
  <h1>학생 생활 </h1>
  <h2>행복한 대학</h2>
  <div class="student-act">
    <a onclick="Move(1)">학생회 </a>
    <a onclick="Move(2)">빌리지 </a>
    <a onclick="Move(3)">동번제 </a>
  </div>
  <img src="/assets/introductions/memo.png">
</section>

<script>
     function Move(seq){
        var offset = $(".village"+seq).offset();
        console.log(offset.top);
        $('html, body').animate({scrollTop : offset.top}, 1500);
    }
</script>


<section class="start">
  <div class="start-content">
    <div></div>
    <h1>약학 대학의 학생 행사</h1>
    <h2>연간 행사 계획입니다</h2>
    <a>바로 보기 ></a>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">연간 행사</h2>
        <h3 class="section-subheading text-muted">2월부터 11월까지</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image d-flex justify-content-center">
              <img class="rounded-circle img-fluid" src="/studentActivity/feb.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3>2월</h3>
                <h4 class="subheading">오티 및 새터</h4>
              </div>
              <div class="timeline-body">
              <p class="text-muted"></p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image d-flex justify-content-center">
              <img class="rounded-circle img-fluid" src="/studentActivity/march.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3>3월</h3>
                <h4 class="subheading">전체 엠티</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted"></p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image d-flex justify-content-center">
              <img class="rounded-circle img-fluid" src="/studentActivity/april.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3>4월</h3>
                <h4 class="subheading">블랙데이</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted"></p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image d-flex justify-content-center">
              <img class="rounded-circle img-fluid" src="/studentActivity/may.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3>5월</h3>
                <h4 class="subheading">대동제</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted"></p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image d-flex justify-content-center">
              <img class="rounded-circle img-fluid" src="/studentActivity/nov.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3>9월</h3>
                <h4 class="subheading">청약체전</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted"></p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image d-flex justify-content-center">
              <img class="rounded-circle img-fluid" src="/studentActivity/oct.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3>10월</h3>
                <h4 class="subheading">약담제</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted"></p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image d-flex justify-content-center">
              <img class="rounded-circle img-fluid" src="/studentActivity/sep.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3>11월</h3>
                <h4 class="subheading">경약인의 밤</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted"></p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>내년을
                <br>기대해
                <br>볼까?</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="council">
  <img src="/assets/introductions/together.jpg" class="council-bg">
  <div class="council-content">
    <div></div>
    <h1>약학대학 8대 학생회 8Let’s는 <br>
    여러분과 함께 아름다운 <br> 약학대학 생활을 그려가겠습니다</h1>
  </div>
</section>

<section class="village">
  <a href="/introductions/operationCommittee" class="village1"><img src="/assets/introductions/dod.png"></a>
  <a href="/introductions/village" class="village2"><img src="/assets/introductions/village.png"></a>
  <a href="/cards" class="village3"><img src="/assets/introductions/party.png"></a>
</section>
