<!-- village -->
<%# <section class="village d-flex align-items-center justify-content-center">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="intro-text">
      <div class="intro-lead-in">
        <p></p>
      </div>
      <div class="intro-heading text-uppercase text-white">
        빌리지
      </div>
      <!--<a class="btn btn-primary btn-xl text-uppercase" href="/introductions/village">바로가기</a>-->
    </div>
  </div>
</section> %>
<!--<section class="village-image container d-flex align-items-center justify-content-center">-->
  <!--<div class="w-100">-->
  <!--  <img class="w-100" src="../village/village.jpg" align="center"/>-->
  <!--</div>-->
<!--  <div class="d-flex align-items-center justify-content-center">-->
  
<!--  </div>-->
<!--</section>-->
<section class="bg-light mt-3" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="font-weight-bold">빌리지</h1>
        <h3 class="mb-3">운영 소개</h3>
        <h3 class="section-subheading text-muted mb-2">
          선 후배간의 원만한 교류를 위해 <br/>
          운영하는 자체적인 친목 시스템입니다. <br/>
        </h3>
        <h3 class="section-subheading text-muted mb-2">
          DRUG의 약자를 따서 운영하고 있으며 <br/>
          한 학기에 한 번 빌리지 장의 주최 하에<br/>
          빌리지 모임을 가져야 합니다. <br/>
        </h3>
        <h3 class="section-subheading text-muted">
          또한, 포인트를 획득할 수 있는 좋은 기회이므로 <br/>
          많은 학생들의 참여를 독려합니다. <br/>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 portfolio-item">
        <a class="portfolio-link"  href="#portfolioModal1">
          <!--<div class="portfolio-hover">-->
          <!--  <div class="portfolio-hover-content">-->
          <!--    <i class="fa fa-plus fa-3x"></i>-->
          <!--  </div>-->
          <!--</div>-->
          <img class="img-fluid" src="/village/village1.png" alt="village1">
        </a>
        <div class="portfolio-caption">
          <h4>Dioscorides</h4>
          <p class="text-muted mt-2">
            나는 나의 사랑하는 가족과 친지 앞에서<br/>
            약학의 전문인으로서 내 삶을 인류를 위해 바치겠다<br/>
            - 디오스코리데스 선서  
          </p>
        </div>
      </div>
      <div class="col-sm-6 portfolio-item">
        <a class="portfolio-link" href="#portfolioModal2">
          <!--<div class="portfolio-hover">-->
          <!--  <div class="portfolio-hover-content">-->
          <!--    <i class="fa fa-plus fa-3x"></i>-->
          <!--  </div>-->
          <!--</div>-->
          <img class="img-fluid" src="/village/village2.png" alt="village2">
        </a>
        <div class="portfolio-caption">
          <h4>Remeber</h4>
          <p class="text-muted mt-2">
            약학도로서 인류복지의 발전에<br/> 사명감이 있다는 것을 기억합시다.
          </p>
        </div>
      </div>
      <div class="col-sm-6 portfolio-item">
        <a class="portfolio-link" href="#portfolioModal3">
          <!--<div class="portfolio-hover">-->
          <!--  <div class="portfolio-hover-content">-->
          <!--    <i class="fa fa-plus fa-3x"></i>-->
          <!--  </div>-->
          <!--</div>-->
          <img class="img-fluid" src="/village/village3.png" alt="village3">
        </a>
        <div class="portfolio-caption">
          <h4>U & I</h4>
          <p class="text-muted mt-2">
            ‘너와 나’ 선후배간의 끈끈한 동료애
            </p>
        </div>
      </div>
      <div class="col-sm-6 portfolio-item">
        <a class="portfolio-link" href="#portfolioModal4">
          <!--<div class="portfolio-hover">-->
          <!--  <div class="portfolio-hover-content">-->
          <!--    <i class="fa fa-plus fa-3x"></i>-->
          <!--  </div>-->
          <!--</div>-->
          <img class="img-fluid" src="/village/village4.png" alt="village4">
        </a>
        <div class="portfolio-caption">
          <h4>Gryffindor</h4>
          <p class="text-muted mt-2">용감하고 대담한 자를 위한 빌리지’</p>
        </div>
      </div>
</section>


<!-- Portfolio Modals -->

<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">동아리 이름</h2>
              <p class="item-intro text-muted">동아리 간략 소개<br/> 사진 넣어도 됩니다</p>
              <img class="img-fluid d-block mx-auto" src="/clubs/DIP.jpg" alt="">
              <p>자세한 소개</p>
              <ul class="list-inline">
                <li>설립년도</li>
                <li>현 회장?</li>
                <li>동아리 분류</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                첫번째꺼만 고쳤어요</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <img class="img-fluid d-block mx-auto" src="/clubs/DIP.jpg" alt="">
              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Explore</li>
                <li>Category: Graphic Design</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <img class="img-fluid d-block mx-auto" src="/clubs/DIP.jpg" alt="">
              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Finish</li>
                <li>Category: Identity</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <img class="img-fluid d-block mx-auto" src="/clubs/DIP.jpg" alt="">
              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Lines</li>
                <li>Category: Branding</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>