<header class="makePublic d-flex align-items-center mb-5">
  <div class="container">
    <div class="intro-text align-items-start">
      <div class="intro-heading">
        정보공개
      </div>
    </div>
    <div class="intro-text justify-content-end">
      <div class="intro-lead-in justify-content-end">
        <p class="ml-auto" style="text-align: right;">
          <a class="" href="/make_publics/meeting">회의록</a> |
          <a class="" href="/make_publics/account">회계자료</a> |
          <a class="" href="/make_publics/other">기타</a> |
          <a class="" href="/make_publics/rule">운영규정</a>
        </p>
      </div>
    </div>
  </div>
</header>
