<section class="contactus">
    <div class="contactus-bg"></div>
    <h1>찾아오시는 길</h1>
    <span></span>
    <div class="contactus-content">
        <div class="contactus-content-container d-flex align-items-center">
            <img src="/assets/dd.PNG">
            <div class="contactus-content-box">
                <div class="contactus-content-box-go">
                    <h1>버스</h1>
                    <h2>정문 : 410, 410-1, 503, 937, 동구1, 북구 2</h2>
                    <h2>북문 : 300, 305, 323, 323-1, 410, 410-1, 706, 719</h2>
                    <h2>서문 : 순환2-1, 305, 403, 410, 410-1, 623, 동구1, 동구1-1</h2>
                </div>
                <div class="contactus-content-box-go">
                    <h1>지하철</h1>
                    <h2>1호선 첨성역 (3번 출구) : 동구2, 북구2, 305, 403</h2>
                    <h2>1호선 신천역 (5번 출구) : 410-1 / (3번 출구) 동구2</h2>
                    <h2>2호선 경대병원역 (3번 출구) : 305, 403</h2>
                </div>
                <div class="contactus-content-box-go">
                    <h1>단과대학 행정실</h1>
                    <h2>전화 : 053-950-8553 / 053-950-8554</h2>
                    <h2>팩스 : 053-950-8557</h2>
                    <h2>주소 : 대구광역시 북구 대학로80 (산격동) 경북대학교 약학대학 (우)41566</h2>
                </div>
            </div>
        </div>
          <div class="contactus-content-box-go bottom">
                 <h1>
                    총동창회, 학생회에 총동창회, 학생회에 연락하실 분은 <br>
                    아래 주소로 메일을 보내주시면 빠른 시일내확인하고 연락드리도록 하겠습니다. <br>
                    신입생 오리엔테이션 안내부터, 기숙사 배정,  약학대학 대학원 진학,  <br>
                    총동창회 대외협력까지 무엇이든지 물어보세요! <br>
                </h1>
                <a>물어보기 →</a>
            </div>
    </div>
  
</section>
