
<!--help-question -->
<section class="help-question d-flex align-items-center justify-content-center bg-light">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="intro-text">
      <div class="intro-heading text-uppercase">
        <img src="../question_mark.svg" height="300" width="300" />
      </div>
      <div class="intro-lead-in">
        <p>
          경북대학교 약학대학 자치운영에 대해<br/>
          무엇이든지 질문해보세요
        </p>
      </div>
      <a class="btn btn-info btn-xl text-uppercase"href="#">문의하기</a>
      <a class="btn btn-info btn-xl text-uppercase"href="#">경조사 신청하기</a>
    </div>
  </div>
</section>

<!--help-makePublic -->
<section class="help-makePublic d-flex align-items-center justify-content-center">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="intro-text">
      <div class="intro-heading text-uppercase">
        <img src="../home.svg" height="300" width="300" />
      </div>
      <div class="intro-lead-in">
        <p>
          약학대학 자치단체에서는 <br/>
          투명한 의사결과정과 규정에 의한 <br/> 
          정보공개를 하고 있습니다.
        </p>
      </div>
      <a class="btn btn-success btn-xl text-uppercase"href="#">자치 운영 정보 공개</a>
    </div>
  </div>
</section>

<!--help-knupManager -->
<section class="help-knupManager d-flex align-items-center justify-content-center">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="intro-text">
      <div class="intro-heading text-uppercase">
        <img src="../settings.svg" height="300" width="300" />
      </div>
      <div class="intro-lead-in">
        <p>
          홈페이지 수정 요청이 필요하신가요?
        </p>
      </div>
      <a class="btn btn-info btn-xl text-uppercase"href="https://goo.gl/forms/HrZ2IuKNQHYjtrW32">요청하기</a>
    </div>
  </div>
</section>


<!--help-payment -->
<section class="help-payment d-flex align-items-center justify-content-center">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="intro-text">
      <div class="intro-heading text-uppercase">
        <img src="../money.svg" height="300" width="300" />
      </div>
      <div class="intro-lead-in">
        <p>
          동창회비 납부를 확인합니다.
        </p>
      </div>
      <a class="btn btn-primary btn-xl text-uppercase"href="#">확인</a>
    </div>
  </div>
</section>




