/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(asset-path('fonts/NotoSansKR-Thin.woff2')) format('woff2'),
       url(asset-path('fonts/NotoSansKR-Thin.woff')) format('woff'),
       url(asset-path('fonts/NotoSansKR-Thin.otf')) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(asset-path('fonts/NotoSansKR-Light.woff2')) format('woff2'),
       url(asset-path('fonts/NotoSansKR-Light.woff')) format('woff'),
       url(asset-path('fonts/NotoSansKR-Light.otf')) format('opentype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(asset-path('fonts/NotoSansKR-Regular.woff2')) format('woff2'),
        url(asset-path('fonts/NotoSansKR-Regular.woff')) format('woff'),
        url(asset-path('fonts/NotoSansKR-Regular.otf')) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(asset-path('fonts/NotoSansKR-Medium.woff2')) format('woff2'),
        url(asset-path('fonts/NotoSansKR-Medium.woff')) format('woff'),
        url(asset-path('fonts/NotoSansKR-Medium.otf')) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: url(asset-path('fonts/NotoSansKR-Bold.woff2')) format('woff2'),
        url(asset-path('fonts/NotoSansKR-Bold.woff')) format('woff'),
        url(asset-path('fonts/NotoSansKR-Bold.otf'))format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 900;
   src: url(asset-path('fonts/NotoSansKR-Black.woff2')) format('woff2'),
        url(asset-path('fonts/NotoSansKR-Black.woff')) format('woff'),
        url(asset-path('fonts/NotoSansKR-Black.otf')) format('opentype');
 }
*{
  font-family: 'Noto Sans KR', sans-serif;
}
//color management
.text-muted{ 
    color: #8492a7 !important;
}
.text-primary{ 
    color: #00b5ff;
}
.text-success{ 
    color: #00d061 !important;
}
.text-info{ 
    color: #7e55f3 !important;
}
.text-warning{ 
    color: #ffd654 !important;
}
.text-danger{ 
    color: #ff4743 !important;
}
//background-color
.bg-muted{ 
    background-color: #8492a7 !important;
}
.bg-primary{ 
    background-color: #00b5ff !important;
}
.bg-success{ 
    background-color: #00d061 !important;
}
.bg-info{ 
    background-color: #7e55f3 !important;
}
.bg-warning{ 
    background-color: #ffd654 !important;
}
.bg-danger{ 
    background-color: #ff4743 !important;
}

//btn-color
.btn-muted{ 
    border-color: #8492a7 !important;
    background-color: #8492a7 !important;
    box-shadow: 2px 2px 2px hsla(0,0%,0%,0.2);
}
.btn-primary{ 
    border-color: #00b5ff !important;
    background-color: #00b5ff !important;
    box-shadow: 2px 2px 2px hsla(0,0%,0%,0.2);
}
.btn-success{ 
    border-color: #00d061!important;
    background-color: #00d061 !important;
    box-shadow: 2px 2px 2px hsla(0,0%,0%,0.2);
}
.btn-info{ 
    border-color: #7e55f3 !important;
    background-color: #7e55f3 !important;
    box-shadow: 2px 2px 2px hsla(0,0%,0%,0.2);
}
.btn-warning{ 
    border-color: #ffd654 !important;
    background-color: #ffd654 !important;
    box-shadow: 2px 2px 2px hsla(0,0%,0%,0.2);
}
.btn-danger{ 
    border-color: #ff4743 !important;
    background-color: #ff4743 !important;
    box-shadow: 2px 2px 2px hsla(0,0%,0%,0.2);
}


.footer {
    background-color: rgb(54, 54, 54);
}
.footer-link{
  color: #3d3d3d;
}
.footer-knup{
  display: flex;
  align-items: center;
}
a, a:hover {
  color: #000000;
  text-decoration: none;
}
.background{
    background-color: rgba(187,238,255,0.3);
}

.round-panel{
  margin-right: 3;
  border-radius: 0.25rem;
  width: 98%;
  padding: 0.75rem 0.5rem;
  background-color: rgba(0,196,255,0.3);
  border-color: #b8daff;
}
.img-circular{
  border-radius: 16px;
 -webkit-border-radius: 16px;
 -moz-border-radius: 16px;
}


/* Dropdown Button */
.dropbtn {
    background-color:transparent;
    color: white;
    padding: 0 30px 0 30px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #222222;}


/*header*/
.navbar {

    background-color: #b62626;
    padding: 0rem 1rem 0 1rem;
    display:flex;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar-brand{
    color: white;
    padding: 0 0 0 0 ;
    .first-logo {
        font-size: 1.8rem;
        color: white;
        font-weight: 300;
    }
    .second-logo {
        color: white;
        font-size: 1.5rem;
        font-weight: 300;
    }
}

.nav-item {
    height: 4rem;
    font-weight: 300;
    display:Flex;
    flex-direction: column;
    justify-content: center;
    .dropdown {
        height: 100%;
        .dropbtn {
            height: 100%;
        }
    }
}
.nav-link{
    padding: 16px;
    font-size: 16px;
    border: none;
    color: white;
}
.navbar-dark .navbar-toggler {
    border: none;
}

@media (max-width:768px){
    .navbar {
        padding: 0.3rem 1rem 0.3rem 1rem;
    }
    .nav-item {
        height: 2.5rem;
    }
    .first-logo {
        font-size: 15px;
    }
    .second-logo {
        display:none;
        font-size: 10px;
    }
}

/*footer*/
.footer {
    background-color: rgb(43, 43, 43);
    display:flex;
    flex-direction: column;
    height: 270px;
    justify-content: space-between;
}
.footer-content {
    padding: 0 250px;
    margin-top:20px;
    height: 85%;
    display:flex;
    justify-content: space-around;
    color: rgb(100, 100, 100);
    align-items: center;
}
.footer-content-box1 {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        font-size: 40px;
        font-style:italic;
        font-weighT: 600;
        color: #3d3d3d
    }
    a {
        padding:5px;
        i {
            font-size: 18px;
        }
    }
}
.footer-content-box2 {
    h1 {
        font-size: 18px;
        color: rgb(231, 231, 231);
        margin-bottom:25px;
    }
    h2 {
        margin-bottom:20px;
        font-weight: 400;
        font-size: 12px;
    }
}
.footer-content-box3 {
    a {
        font-size: 13px;
        margin-bottom:25px;
        color:rgb(180, 180, 180);
    }
    p {
        margin: 0 8px;
        font-size: 13px;
    }
    h2 {
        margin-bottom:15px;
        font-weight: 400;
        font-size: 10px;
    }
}
.footer-bottom {
    background-color: rgb(37, 37, 37);
    height: 15%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        color: rgb(133, 133, 133);
        text-align:center;
        font-size: 12px;
        margin-bottom:0;
    }
}

@media (max-width:1100px){

    .footer-content {
        padding: 0 20px;

    }
}
@media (max-width:800px){
    .footer {
        height: 600px;
    }
    .footer-content-box2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 20px;
        }
    }
    .footer-content-box3 {
        a,p {
            font-size: 15px;
        }
    }
    .footer-content {
        padding: 0;
        flex-direction: column;
    }
    .footer-bottom {
        height: 35px;
    }
}
@media (max-width:500px){
   
    .footer-content-box3 {
        a,p {
            font-size: 12px;
        }
    }
 
}