

.help-1 {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow:hidden;
}

.help-1-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    background-color:black;
}

.help-1-top {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.404);
    h1 {
        font-size: 20px;
        color: white;
        font-weight: 400;
    }
}
.help-1-top-right {
    a {
        font-size: 13px;
        font-weight: 300;
        color: white;
        margin: 0 10px;
    }
}
.help-1-content {
    width: 70%;
    height: 300px; 
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    h1 {
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 10px;
        color:white;
    }
    h2 {
        font-size: 20px;
        color:white;
        font-weight: 400;
    }
  
}
.help-1-content-input {
    margin-top: 20px;
    width: 550px;
    height: 45px;
    background-color: rgb(250, 250, 250);
    border-radius: 4px;
    border: none;
    overflow:hidden;
    input {
        height: 100%;
        width: 90%;
        border:none;

    }
}
.help-2 {
    width: 100%;
    height:300px;
    border-bottom: 1px solid rgb(211, 211, 211);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align:center;
    img {
        width: 150px;
        margin-right: 100px;
        height: auto;
    }
    h1 {
        font-size: 30px;
        font-size: 500;
    }
    h2 {
        font-size: 25px;
        line-height: 160%;
        font-size: 300;
        text-align: left;
    }
    a {
        margin-top:10px;
        background-color: black;
        color: white;
        width: auto;
        font-size: 15px;
        padding: 5px 10px;
        border: 1px solid black;
        border-radius:3px;
    }
    a:hover {
        color: white;
    }
    div {
        align-items:flex-start;
    }
}

.help-3 {
    width: 840px;
    height:450px;
    display:Flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    border-bottom: 1px solid rgb(211, 211, 211);
}
.help-3-1, .help-3-2 {
    margin: 0 70px;
    height: 90%;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    img {
        width: 100%;
        height: auto;
    }
    h1 {
        margin-top:20px;
        font-size: 25px;
    }
    h2 {
        font-size: 15px;
        font-weight: 300;
        line-height: 150%;
        // text-align: center;
    }
    a {
        width: auto;
        font-size: 15px;
        // padding: 5px 7px;
        // border: 1px solid black;
        border-radius:3px;
    }
}
.help-4 {
    width: 840px;
    height:450px;
    display:Flex;
    justify-content: center;
    align-items: center;
    margin:  auto;

}
.help-4-1, .help-4-2 {
    margin: 0 70px;
    height: 90%;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    img {
        width: 100%;
        height: auto;
    }
    h1 {
        margin-top:20px;
        font-size: 25px;
        text-align:Center;
    }
    h2 {
        font-size: 15px;
        font-weight: 300;
        line-height: 150%;
        // text-align:center;
    }
    a {
        width: auto;
        font-size: 15px;
        // padding: 5px 7px;
        // border: 1px solid black;
        border-radius:3px;
    }
}

@media (max-width:840px){
    .help-1 {
        height: 400px;
    }
    .help-4, .help-3,.help-2 {
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .help-2 {
        img {
            margin: 40px 0;
            width: 100px;  
        }
        div {
            align-items: center;
            margin-bottom: 40px;
            h1 {
                font-size: 20px;
            }
            h2 {
                font-size: 15px;
                text-align:center;
            }
        }
    }
    
    .help-3-1, .help-3-2, .help-4-1, .help-4-2 {
        margin: 20px 0;
        width: 90%;
    }
    .help-3 {
        border: none;
    }
}
@media (max-width:640px){
    .help-1 {
        height: 300px;
    }
}
@media (max-width:440px){
    .help-1 {
        height: 200px;
    }
    .help-3-1, .help-3-2, .help-4-1, .help-4-2 {
        margin: 15px 0;
        h1 {
            font-size: 15px;
        }
        h2 {
            font-size: 13px;
        }
    }
}


/*contactus*/

.contactus {
    width: 100%;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 250, 250);
    h1 {
        font-size: 35px;
        margin-top:40px;
    }
    span {
        width: 50px;
        border-bottom: 2px solid black;
        margin: 5px 0;
    } 
}
.contactus-bg {
    width: 100%;
    min-height: 100vh;
    top: 0;
    opacity: 0.03;
    position: absolute;
    background-image: url("https://media.istockphoto.com/vectors/crystal-lattice-vector-id187219353");
    background-size:20% auto;
    background-repeat: repeat;

}
.contactus-content {
    width: 800px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    margin-bottom:20px;
    img {
        width: 430px;
        height: 430px;
    }
    h1 {
        font-size: 30px;
        font-weight: 400;
    }
}
.contactus-content-box {
    display:flex;
    flex-direction: column;
    margin-left: 30px;
    width: auto;
}

.contactus-content-box-go {
    margin-top:20px;
    margin-bottom: 20px;
    width: 100%;
    h1 {
        font-size: 20px;
        font-weight: 500;
        margin-top:0;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 15px;
        font-weight: 400;
    }
}

.contactus-content-box-go.bottom {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
     h1 {
        font-size: 15px;
        font-weight: 400;
        line-height: 170%;
        text-align: center;
    }
    a {
        margin-top:10px;
        font-size: 18px;
    }
}

@media (max-width:800px){
    .contactus {
        height: auto;
    }
    .contactus-content {
        width: 90%;
        img {
            width: 90vw;
            height: 90vw;
        }
    }
    .contactus-content-box {
        width: 100%;
        margin: 0;
    }
    .contactus-content-container {
        flex-direction: column;
    }
    .contactus-content-box-go.bottom {
        width: 100%;
    }
}
