<%#= TODO: footer 수정%>
<footer class="p-0">
  <div class="jumbotron m-0">
    <div class="container">
      <!--copyright-->
      <div class="text-center mt-2">
        <p style="color: #3d3d3d">
          Copyright © 2018. KNUP.  All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>